@media (max-width: 900px){
    .cabecalho {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 30px;
    }
}

@media (max-width: 675px){
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho .logo h1 {
        font-size: 40px;
    }

    .cabecalho .logo {
        margin-bottom: 80px;
    }

    .cabecalho .lista-menu li{ 
        margin-bottom: 33px;
    } 

    .cabecalho .lista-menu {
        flex-direction: column;
    }

    .cabecalho .lista-menu li a{ 
        font-size: 40px;
        padding: 17px 38px;
    }

    .lista-menu li a.btn {

    }
}

@media (max-width: 420px){
    .cabecalho .lista-menu li a.btn {
        padding: 15px 22px;
        font-size: 18px;
    }

    .cabecalho .lista-menu li:last-child {
        margin-top: 50px;
    }
}