@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;800&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 45px;
}

.container .cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .cabecalho .menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 869px;
}

.container .cabecalho .menu li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
